/* Hover animation styles for header nav links */
.link {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 0;
  border-left: 2px solid transparent;
  transition: transform 0.3s linear, height 0.3s linear;
  transform: translateX(-100%);
  top: 0;
  z-index: 1;
}

.link::after {
  left: auto;
  right: 0;
  border-left: none;
  border-right: 2px solid transparent;
  transition-delay: 0.2s;
}

.link:hover {
  background-color: #fff;
  color: #007bff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}

.link:hover::before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s linear, height 0.3s linear 0.3s;
}

.link:hover::after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s linear, height 0.3s linear 0.5s;
}
